/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}
header {
	padding:1em;
	text-align:center;
}

figcaption{
	text-align: center;
}
footer {
	padding: 1em;
}

header, footer {
	background: #A84646;
	color:white;
	Font-family: Simonetta, sans-serif ;
}
footer{
	background:grey;
}


figure img{
	display:block;
	width:40%;
	margin:auto;
	
}
body {
	
	color:white;
	background: #222120; 
	/*background-size: cover;*/ 
	Font-family: Simonetta, sans-serif ;
}









div#container {
	margin:auto;
	margin-top:20px;
	width:1000px;
	
	padding:25px;
	
}
header{
	
	
	
}
footer{
	
	
	
}

<style>





</style>

